<h2>Nyári tábor regisztráció - 2023. július 27-30.</h2>
<form id="registerForm" onsubmit="registerSubmit();">
    <fieldset>
        <legend>Regisztráció a nyári táborra</legend>
        <table>
            <tbody id="adatTabla">
                <tr>
                    <th>Név:*</th>
                    <th>Születési hely:*</th>
                    <th>Születési idő:*</th>
                    <th>Lakcím:*</th>
                    <th>Szállás típusa:*</th>
                    <th>Éjszakák száma:*</th>
                    <th>Étkezés</th>
                    <!--th>Gyermek altábort szeretne-e:*</th-->
                    <!--th>Féladag legyen-e az ellátása:*</th-->
                    <!--th>Szerda:*</th>
                    <th>Csütörtök:*</th>
                    <th>Péntek:*</th>
                    <th>Szombat:*</th-->
                    <!--<th>Vasárnap:*</th>-->
                    <th>Ételallergia:<br>(ha nincs, üresen kell hagyni)</th>
                </tr>
            </tbody>
        </table>
        <button type="button" onclick="sorHozzafuzes();">
            További jelentkező hozzáadása
        </button>
        <!-- 2023-ban sátorban is fejenként számojuk az árakat! Yeyy! -->
        <!--p>
            Hány sátorhelyet fognak igénybe venni?
            <input type="number" name="satorhelyekSzama" id="satorhelyekSzama" onchange="koltsegSzamitas();" min="0">
        </p>

        <p id="satorarap">
            <b>Sátorhelyek ára:</b>
            <span id="satorara">0 Ft</span>
        </p-->
        
        <p>
            Tudnál-e valamekkora összeggel támogatni rászoruló családokat?
            <input type="number" name="tamogatasAdas" id="tamogatasAdas" onchange="koltsegSzamitas();">
        </p>
        <div>
            <b>Árak:</b>
            <br>
            <table id="arakTabla">
                <tr id="arnev"> <!-- fejléc -->
                    <th>Név:</th>
                </tr>
                <tr id="arszallas">
                    <th>Szállás:</th>
                </tr>
                <tr id="arifa">
                    <th>IFA:</th>
                </tr>
                <tr id="arkaja">
                    <th>Étkezés:</th>
                </tr>
                <tr id="arfejenkent">
                    <th>Összesen:</th>
                </tr>
            </table>
        </div>

        <p id="vegosszegp">
            <b>Végösszeg: </b>
            <span id="vegosszeg">0 Ft</span>
        </p>

        <p>
            Ha valakivel egy hálóban szeretne lenni a család egésze vagy egy része, kik lennének azok?
            <input type="text" name="halotarsak" id="halotarsak" maxlength="100"/>
        </p>
        <p>
            Meg tudod oldani az oda-vissza utat?
            <input type="text" name="busz" id="busz" maxlength="50"/>
        </p>
        <p>
            Tudsz-e saját autóban elhozni valakit a táborba? Ha igen, hány személyt?
            <input type="text" name="oszkar" id="oszkar" maxlength="50" />
        </p>
        <p>
            A költségek csökkentésére támogatást szeretnél-e igényelni? (ha igen, mekkora összegben?)
            <input type="number" name="tamogatasKeres" id="tamogatasKeres" />
        </p>
        <p>
            Részt tudnál-e vállalni valamilyen tábori feladatban? 
            <input type="text" name="feladat" id="feladat" maxlength="150" />
            <br>
            <i>(gyerekfoglalkozás vezetése, kézműves foglalkozás vezetése, esti játékok levezénylése, zenei szolgálat, sportfoglalkozás, kiscsoport vezetés, kirándulás vezetés, kegyhely bemutatása...)</i>
        </p>
        <p>
            Bármilyen egyéb igény, üzenet a szervezőknek:
            <br>
            <textarea name="uzenet" id="uzenet" rows=5 cols=60></textarea>
        </p>
        <p>
            <b>Kapcsolattartó </b>
            (akit kereshetnek a szervezők a jelentkezéssel kapcsolatban):
            <br>
            <table class="kapcs">
                <tr>
                    <td class="kapcs">Név:*</td>
                    <td class="kapcs">
                        <input type="text" name="kapcsNev" id="kapcsNev" onchange="betoltesJelentkezesObjektumba(this);">
                    </td>
                </tr>
                <tr>
                    <td class="kapcs">Email:*</td>
                    <td class="kapcs">
                        <input type="email" name="kapcsEmail" id="kapcsEmail" onchange="betoltesJelentkezesObjektumba(this);">
                    </td>
                </tr>
                <tr>
                    <td class="kapcs">
                        Mobilszám:*
                    </td>
                    <td class="kapcs">
                        <input type="text" name="kapcsMobil" id="kapcsMobil" onchange="betoltesJelentkezesObjektumba(this);">
                    </td>
                </tr>
            </table>
            <br>
            <input type="checkbox" id="adatkezelesi">Az <a href="adatkezelesi_tajekoztato.pdf" target="_blank">Adatkezelési tájékoztató</a>ban foglaltakat megismertem.*<br>
            <input type="checkbox" id="adatkezelesi2">A tábor szervezésével kapcsolatban megvalósuló adatkezeléshez hozzájárulok.*<br>
            <input type="checkbox" id="adatkezeles_hozzajarul" onchange="betoltesJelentkezesObjektumba(this);">Hozzájárulok ahhoz, hogy a táborban készülő kép-, hang- és videofelvételeket a Plébánia az adatkezelési tájékoztatóban foglaltak szerint kezelje.<br>
            <span id="kotelezoMezok">* Kötelező mezők</span>
            <br>
            <!--input type="checkbox" id="adatkezelesi">A négyzet kipipálásával elfogadod az adatkezelési tájékoztatót,<br>
            amelyet itt olvashatsz el: <a href="adatkezelesi_tajekoztato.pdf" target="_blank">Adatkezelési tájékoztató</a><br-->
            <br>
        <button type="submit" name="bekuldes" id="bekuldes">Jelentkezés beküldése</button>
    </fieldset>
</form>
