<td>
    <input type="text" name="nev@" onchange="betoltesObjektumba(this)" maxlength="100">
</td>
<td>
    <input type="text" name="szulhely@" onchange="betoltesObjektumba(this)" maxlength="50" size="12">
</td>
<td>
    <input type="date" name="szulido@" onchange="datumInputOnchange(this)">
</td>
<td>
    <input type="text" name="lakcim@" id="lakcim@" onchange="lakcimOnchange(this)" maxlength="50" size="30">
</td>
<td>

<select name="szallTipus@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <!--option value="egyagyas">Egy ágyas szoba</option-->
    <option value="egyagyas-1potagy">Egy ágyas szoba pótággyal</option>
    <option value="ketagyas">Két ágyas szoba</option>
    <option value="ketagyas-1potagy">Két ágyas szoba 1 pótággyal</option>
    <option value="ketagyas-2potagy">Két ágyas szoba 2 pótággyal</option>
    <!--option value="ketagyas-kisbaba">Két ágyas szobában 0-2 éves kisbaba</option-->
    <option value="hatagyas">Hat ágyas háló</option>
    <option value="matrac">Hat ágyas hálóba +1 saját matrac (ingyenes)</option>
    <option value="tizennegyagyas">Tizennégy ágyas háló</option>
    <option value="sator">Sátor</option>
    <option value="nem">Nem kérek</option>
</select>
</td>

<td>
<select name="ejSzam@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="3">3 éjszaka</option>
    <option value="2cs">2 éjszaka (Cs-P)</option>
    <option value="2p">2 éjszaka (P-Sz)</option>
    <option value="0">Nem kérek</option>
</select>
</td>

<td>
<select id="etkezes@" name="etkezes@" onchange="betoltesObjektumba(this)">
    <option value="igen" selected>Kérek</option>
    <option value="nem">Nem Kérek</option>
</td>

<!--td>
<select id="altabor@" name="altabor@" onchange="betoltesObjektumba(this)">
    <option value="igen">Igen</option>
    <option value="nem" selected>Nem</option>
</select>
</td-->

<!--td>
<select id="feladag@" name="feladag@" onchange="betoltesObjektumba(this)">
    <option value="fel">Féladag</option>
    <option value="egesz" selected>Egész adag</option>
</select>
</td-->

<!--td>
<select name="szerda@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="ebed">Csak ebéd</option>
    <option value="ebed,vacs">Ebéd és vacsora</option>
    <option value="vacs">Csak vacsora</option>
    <option value="semmi">Nem kérek</option>
</select>
</td>

<td>
<select name="csutortok@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="ebed">Csak ebéd</option>
    <option value="reg,ebed,vacs">Reggeli, ebéd és vacsora</option>
    <option value="ebed,vacs">Ebéd és vacsora</option>
    <option value="vacs">Csak vacsora</option>
    <option value="semmi">Nem kérek</option>
</select>
</td>

<td>
<select name="pentek@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="reg,ebed,vacs">Reggeli, ebéd és vacsora</option>
    <option value="ebed,vacs">Ebéd és vacsora</option>
    <option value="vacs">Csak vacsora</option>
    <option value="reg">Csak reggeli</option>
    <option value="ebed">Csak ebéd</option>
    <option value="reg,ebed">Reggeli és ebéd</option>
    <option value="reg,vacs">Reggeli és vacsora</option>
    <option value="semmi">Nem kérek</option>
</select>
</td>

<td>
<select name="szombat@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="reg">Csak reggeli</option>
    <option value="reg,ebed,vacs">Reggeli, ebéd és vacsora</option>
    <option value="ebed,vacs">Ebéd és vacsora</option>
    <option value="ebed">Csak ebéd</option>
    <option value="vacs">Csak vacsora</option>
    <option value="reg,ebed">Reggeli és ebéd</option>
    <option value="reg,vacs">Reggeli és vacsora</option>
    <option value="semmi">Nem kérek</option>
</select>
</td-->
<!--
<td>
<select name="vasarnap@" onchange="betoltesObjektumba(this)">
    <option selected disabled hidden>--Válasszon--</option>
    <option value="reg,ebed">Reggeli és ebéd</option>
    <option value="reg">Csak reggeli</option>
    <option value="ebed">Csak ebéd</option>
    <option value="semmi">Nem kérek</option>
</select>
</td>
-->
<td>
<!--select name="all@">
    <option value="gluten">Glutén</option>
    <option value="rak">Rákfélék</option>
    <option value="tojas">Tojás</option>
    <option value="hal">Halak</option>
    <option value="mogyi">Földimogyoró</option>
    <option value="szoja">Szójabab</option>
    <option value="tej">Tej</option>
    <option value="dio">Diófélék</option>
    <option value="zeller">Zeller</option>
    <option value="mustar">Mustár</option>
    <option value="szezam">Szezám</option>
    <option value="so2">Kén-dioxid</option>
    <option value="csillagfurt">Csillagfürt</option>
    <option value="puhatestuek">Puhatestűek</option>
</select-->
    <input name="allergia@" type="text" onchange="betoltesObjektumba(this)">
</td>

<td>
    <img src="kuka.png" class="kuka" onclick="sorTorles(this)" alt="Sor törlése" title="Sor törlése" id="kuka@">
</td>