table:not(.kapcs), th:not(.kapcs), td:not(.kapcs) {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    text-align: left;
}

input, select {
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
}

input:focus, select:focus {
    background-color: yellow;
}

img.kuka {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

:disabled {
    display: none;
}

input[type="number"] {
    width: 60px;
}

body {
    background-color: #E7E6DE; /* Marci ezt választotta eredetileg: #40291C */
    border: 10px solid #E7E6DE;
    border-radius: 5px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

div {
    background-color: #E7E6DE;
}

#arakTabla td, th, #vegosszegp {
    font-family: Times, serif;
}

#arakTabla th, #arakTable td, #vegosszegp {
    font-size: 17px;
}

#arakTabla td, #arakTabla th{
    padding: 2px;
}
/*
#bekuldes:hover {
    width: 200px;
    background-color: green;
    color: white;
    animation: noves 2s;
}
*/
#bekuldes{
    width: 160px;
}
/*
@keyframes noves {
    0% {width: 160px;background-color: white;color:black;}
    50% {background-color: black;}
    70% {width: 100%;}
    100% {width: 200px;background-color: green;color:white;}
}

#debug {
    background-color: #FFFFFF;
}
*/
#kotelezoMezok {
    font-size: 10px;
}

a, a:visited {
    color: blue;
}

/* Ne legyen nyilacska a számoknál */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
